In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time

In [12]:
driver=webdriver.Chrome("D:\Drivers\chrome\chromedriver.exe")

### 1. Wiki_Youtube_Top Viewed

In [7]:
Rank=[]
Name=[]
Artist=[]
Uploadate=[]
Views=[]

In [8]:
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [9]:
rank_tags=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]//td[1]')

In [10]:
for i in rank_tags:
    ranks=i.text
    Rank.append(ranks)
Rank[0:4]

['1.', '2.', '3.', '4.']

In [11]:
name_tags=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]//td[2]')

In [15]:
for i in name_tags:
    names=i.text.strip()
    Name.append(names)
Name

['"Baby Shark Dance"[28]',
 '"Despacito"[30]',
 '"Shape of You"[31]',
 '"See You Again"[32]',
 '"Masha and the Bear – Recipe for Disaster"[35]',
 '"Johny Johny Yes Papa"[36]',
 '"Uptown Funk"[37]',
 '"Gangnam Style"[38]',
 '"Learning Colors – Colorful Eggs on a Farm"[40]',
 '"Sorry"[41]',
 '"Bath Song"[42]',
 '"Sugar"[43]',
 '"Phonics Song with Two Words"[44]',
 '"Roar"[45]',
 '"Thinking Out Loud"[46]',
 '"Counting Stars"[47]',
 '"Shake It Off"[48]',
 '"Dame Tu Cosita"[49]',
 '"Bailando"[50]',
 '"Lean On"[51]',
 '"Faded"[52]',
 '"Dark Horse"[53]',
 '"Girls Like You"[54]',
 '"Let Her Go"[55]',
 '"Mi Gente"[56]',
 '"Hello"[57]',
 '"Blank Space"[58]',
 '"Waka Waka (This Time for Africa)"[59]',
 '"Perfect"[60]',
 '"Chantaje"[61]',
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 <function str.strip(chars=None, /)>,
 '"Baby Shark Dance"[28]',
 '"Despacito"[30]',
 '"Shape of You"[31]',
 '"See You Again"[32]',
 '"Masha and the Bear – Recipe for Disaster"[35]',
 '"Johny Johny Yes Papa"[36]',
 '"Uptown Funk"[37]',
 '"Gangnam Style"[38]',
 '"Learning Colors – Colorful Eggs on a Farm"[40]',
 '"Sorry"[41]',
 '"Bath Song"[42]',
 '"Sugar"[43]',
 '"Phonics Song with Two Words"[44]',
 '"Roar"[45]',
 '"Thinking Out Loud"[46]',
 '"Counting Stars"[47]',
 '"Shake It Off"[48]',
 '"Dame Tu Cosita"[49]',
 '"Bailando"[50]',
 '"Lean On"[51]',
 '"Faded"[52]',
 '"Dark Horse"[53]',
 '"Girls Like You"[54]',
 '"Let Her Go"[55]',
 '"Mi Gente"[56]',
 '"Hello"[57]',
 '"Blank Space"[58]',
 '"Waka Waka (This Time for Africa)"[59]',
 '"Perfect"[60]',
 '"Chantaje"[61]',
 '"Baby Shark Dance"[28]',
 '"Despacito"[30]',
 '"Shape of You"[31]',
 '"See You Again"[32]',
 '"Masha and the Bear – Recipe for Disaster"[35]',
 '"Johny Johny Yes Papa"[36]',
 '"Uptown Funk"[37]',
 '"Gangnam Style"[38]',
 '"Learning Colors – Colorful Eggs on a Farm"[40]',
 '"Sorry"[41]',
 '"Bath Song"[42]',
 '"Sugar"[43]',
 '"Phonics Song with Two Words"[44]',
 '"Roar"[45]',
 '"Thinking Out Loud"[46]',
 '"Counting Stars"[47]',
 '"Shake It Off"[48]',
 '"Dame Tu Cosita"[49]',
 '"Bailando"[50]',
 '"Lean On"[51]',
 '"Faded"[52]',
 '"Dark Horse"[53]',
 '"Girls Like You"[54]',
 '"Let Her Go"[55]',
 '"Mi Gente"[56]',
 '"Hello"[57]',
 '"Blank Space"[58]',
 '"Waka Waka (This Time for Africa)"[59]',
 '"Perfect"[60]',
 '"Chantaje"[61]']

In [16]:
artist_tags=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]//td[3]')

In [20]:
for i in artist_tags:
    artists=i.text
    Artist.append(artists)
Artist[0:4]

["Pinkfong Kids' Songs & Stories",
 'Luis Fonsi featuring Daddy Yankee',
 'Ed Sheeran',
 'Wiz Khalifa featuring Charlie Puth']

In [21]:
date_tags=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]//td[5]')

In [22]:
for i in date_tags:
    dates=i.text
    Uploadate.append(dates)
Uploadate[0:4]

['June 17, 2016', 'January 12, 2017', 'January 30, 2017', 'April 6, 2015']

In [23]:
view_tags=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]//td[4]')

In [24]:
for i in view_tags:
    views=i.text
    Views.append(views)
Views[0:4]

['7.39', '7.09', '5.10', '4.85']

In [25]:
Wiki_Youtube=pd.DataFrame({})
Wiki_Youtube['Rank']=Rank
Wiki_Youtube['Name']=Name[0:30]
Wiki_Youtube['Artist']=Artist
Wiki_Youtube['Upload Date']=Uploadate
Wiki_Youtube['Views in Millions']=Views
Wiki_Youtube

,Rank,Name,Artist,Upload Date,Views in Millions
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,"June 17, 2016",7.39
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,"January 12, 2017",7.09
2,3.,"""Shape of You""[31]",Ed Sheeran,"January 30, 2017",5.10
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,"April 6, 2015",4.85
4,5.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,"January 31, 2012",4.38
5,6.,"""Johny Johny Yes Papa""[36]",LooLoo Kids,"October 8, 2016",4.37
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,"November 19, 2014",4.03
7,8.,"""Gangnam Style""[38]",Psy,"July 15, 2012",3.88
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,"February 27, 2018",3.66
9,10.,"""Sorry""[41]",Justin Bieber,"October 22, 2015",3.37
10,11.,"""Bath Song""[42]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.34
11,12.,"""Sugar""[43]",Maroon 5,"January 14, 2015",3.34
12,13.,"""Phonics Song with Two Words""[44]",ChuChu TV,"March 6, 2014",3.30
13,14.,"""Roar""[45]",Katy Perry,"September 5, 2013",3.22
14,15.,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.13
15,16.,"""Counting Stars""[47]",OneRepublic,"May 31, 2013",3.13
16,17.,"""Shake It Off""[48]",Taylor Swift,"August 18, 2014",2.99
17,18.,"""Dame Tu Cosita""[49]",El Chombo featuring Cutty Ranks,"April 5, 2018",2.94
18,19.,"""Bailando""[50]",Enrique Iglesias featuring Descemer Bueno and ...,"April 11, 2014",2.94
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,"March 22, 2015",2.93
20,21.,"""Faded""[52]",Alan Walker,"December 3, 2015",2.92
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,"February 20, 2014",2.92
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,"May 31, 2018",2.91
23,24.,"""Let Her Go""[55]",Passenger,"July 25, 2012",2.85
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,"June 29, 2017",2.82
25,26.,"""Hello""[57]",Adele,"October 22, 2015",2.75
26,27.,"""Blank Space""[58]",Taylor Swift,"November 10, 2014",2.68
27,28.,"""Waka Waka (This Time for Africa)""[59]",Shakira featuring Freshlyground,"June 4, 2010",2.66
28,29.,"""Perfect""[60]",Ed Sheeran,"November 9, 2017",2.65
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,"November 18, 2016",2.60

### 2.BCCI_Int Fixtures

In [3]:
url="https://www.bcci.tv/"
driver.get(url)

In [5]:
driver.find_element_by_xpath('//li[@class="drop-down__option  "][1]/a').click()

In [43]:
title=[]
series=[]
place=[]
date=[]
month=[]
Date=[]
time=[]

In [51]:
title_tags=driver.find_elements_by_xpath('//div[@class="fixture__description u-unskewed-text"]/p/strong')

In [52]:
for i in title_tags:
    titles=i.text
    title.append(titles)
title[0:4]

['1st Test', '2nd Test', '3rd Test', '4th Test']

In [53]:
series_tags=driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]/span[2]')

In [54]:
for i in series_tags:
    serie=i.text
    series.append(serie)
series[0:4]

['AUSTRALIA V INDIA 2020/21',
 'AUSTRALIA V INDIA 2020/21',
 'AUSTRALIA V INDIA 2020/21',
 'AUSTRALIA V INDIA 2020/21']

In [55]:
place_tags=driver.find_elements_by_xpath('//div[@class="fixture__description u-unskewed-text"]/p/span')

In [56]:
for i in place_tags:
    places=i.text
    place.append(places)
place[0:4]

['Adelaide Oval, Adelaide',
 'Melbourne Cricket Ground, Melbourne',
 'Sydney Cricket Ground, Sydney',
 'Brisbane Cricket Ground, Brisbane']

In [21]:
date_tags=driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/span')

In [22]:
month_tags=driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/div/span[1]')

In [44]:
for i in date_tags:
    dates=i.text
    date.append(dates)
for i in month_tags:
    months=i.text
    month.append(months)

In [45]:
Date= lambda x,y: x + "" +str(y)
Date=list(map(Date,month,date))

In [46]:
Date

['DECEMBER17',
 'DECEMBER26',
 'JANUARY07',
 'JANUARY15',
 'FEBRUARY05',
 'FEBRUARY13',
 'FEBRUARY24',
 'MARCH04',
 'MARCH12',
 'MARCH14',
 'MARCH16',
 'MARCH18',
 'MARCH20',
 'MARCH23',
 'MARCH26',
 'MARCH28',
 'AUGUST04',
 'AUGUST12',
 'AUGUST25',
 'SEPTEMBER02']

In [47]:
time_tags=driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/div/span[2]')

In [48]:
for i in time_tags:
    times=i.text
    time.append(times)
time[0:4]

['09:30 IST', '05:00 IST', '05:00 IST', '05:30 IST']

In [57]:
BCCI_Int_Fix=pd.DataFrame({})
BCCI_Int_Fix['Title']=title
BCCI_Int_Fix['Series']=series
BCCI_Int_Fix['Place']=place
BCCI_Int_Fix['Date']=Date
BCCI_Int_Fix['Time']=time
BCCI_Int_Fix

,Title,Series,Place,Date,Time
0,1st Test,AUSTRALIA V INDIA 2020/21,"Adelaide Oval, Adelaide",DECEMBER17,09:30 IST
1,2nd Test,AUSTRALIA V INDIA 2020/21,"Melbourne Cricket Ground, Melbourne",DECEMBER26,05:00 IST
2,3rd Test,AUSTRALIA V INDIA 2020/21,"Sydney Cricket Ground, Sydney",JANUARY07,05:00 IST
3,4th Test,AUSTRALIA V INDIA 2020/21,"Brisbane Cricket Ground, Brisbane",JANUARY15,05:30 IST
4,1st Test,INDIA V ENGLAND 2021,"M. A. Chidambaram Stadium, Chennai",FEBRUARY05,09:30 IST
5,2nd Test,INDIA V ENGLAND 2021,"M. A. Chidambaram Stadium, Chennai",FEBRUARY13,09:30 IST
6,3rd Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",FEBRUARY24,14:00 IST
7,4th Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",MARCH04,09:30 IST
8,1st T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",MARCH12,18:00 IST
9,2nd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",MARCH14,18:00 IST
10,3rd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",MARCH16,18:00 IST
11,4th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",MARCH18,18:00 IST
12,5th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",MARCH20,18:00 IST
13,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",MARCH23,14:30 IST
14,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",MARCH26,14:30 IST
15,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",MARCH28,09:30 IST
16,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",AUGUST04,15:30 IST
17,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",AUGUST12,15:30 IST
18,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",AUGUST25,15:30 IST
19,4th Test,ENGLAND V INDIA 2021,"The Oval, London",SEPTEMBER02,15:30 IST

### 3. Guru99_Selenium

In [99]:
url="https://www.guru99.com/"
driver.get(url)

In [100]:
driver.find_element_by_xpath('//div[@class="g-block size-60"]//td[1]/div//td[2]').click()

In [101]:
driver.find_element_by_id("gsc-i-id2").send_keys("Selenium Exception Handling")

In [102]:
driver.find_element_by_xpath('//div[@class="g-block size-60"]//button').click()

In [103]:
driver.find_element_by_xpath('//div[@class="gsc-webResult gsc-result"][1]/div[1]/div[1]//a').click()

In [104]:
name=[]
desc=[]

In [63]:
p = driver.current_window_handle

In [64]:
chwd = driver.window_handles

In [65]:
for w in chwd:

    if(w!=p):
        driver.switch_to.window(w)
    break

In [117]:
name_tags=driver.find_elements_by_xpath('//div[@class="span12"]//tr/td[1]')

In [119]:
for i in name_tags:
    names=i.text
    name.append(names)
name[0:4]

['Exception name',
 'ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException']

In [120]:
desc_tags=driver.find_elements_by_xpath('//div[@class="span12"]//tr/td[2]')

In [121]:
for i in desc_tags:
    description=i.text
    desc.append(description)
desc[0:4]

['Description',
 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.']

In [122]:
Guru_Selenium=pd.DataFrame({})
Guru_Selenium['Name']=name[1:]
Guru_Selenium['Description']=desc[1:]
Guru_Selenium

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

### 4. Statistics_GDP_All_Indian_States

In [124]:
url="http://statisticstimes.com/"
driver.get(url)

In [126]:
driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/button').click()

In [127]:
driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/div/a[2]').click()

In [128]:
driver.find_element_by_xpath('//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a').click()

In [129]:
rank=[]
state=[]
gsdp1819=[]
gsdp1718=[]
share=[]
gdp=[]

In [130]:
rank_tags=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tr/td[1]')

In [131]:
for i in rank_tags:
    ranks=i.text
    rank.append(ranks)
rank[0:4]

['1', '2', '3', '4']

In [132]:
state_tags=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tr/td[2]')

In [133]:
for i in state_tags:
    states=i.text
    state.append(states)
state[0:4]

['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Karnataka']

In [134]:
gsdp1_tags=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tr/td[3]')

In [137]:
for i in gsdp1_tags:
    gsdps=i.text
    gsdp1819.append(gsdps)
gsdp1819[0:4]

['-', '1,664,159', '1,542,432', '1,535,224']

In [138]:
gsdp2_tags=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tr/td[4]')

In [139]:
for i in gsdp2_tags:
    gsd=i.text
    gsdp1718.append(gsd)
gsdp1718[0:4]

['2,411,600', '1,461,841', '1,376,324', '1,350,257']

In [140]:
share_tags=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tr/td[5]')

In [141]:
for i in share_tags:
    shares=i.text
    share.append(shares)
share[0:4]

['14.11%', '8.55%', '8.05%', '7.90%']

In [142]:
gdp_tags=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tr/td[7]')

In [143]:
for i in gdp_tags:
    gdps=i.text
    gdp.append(gdps)
gdp[0:4]

['-', '1,207,526', '1,109,408', '1,136,634']

In [150]:
GDP_State_Wise=pd.DataFrame({})
GDP_State_Wise['Rank']=rank[0:33]
GDP_State_Wise['State']=state[0:33]
GDP_State_Wise['GSDP 18-19']=gsdp1819[0:33]
GDP_State_Wise['GSDP 17-18']=gsdp1718[0:33]
GDP_State_Wise['Share']=share[0:33]
GDP_State_Wise['GDP']=gdp[0:33]
GDP_State_Wise

   Rank                      State GSDP 18-19 GSDP 17-18   Share        GDP
0     1                Maharashtra          -  2,411,600  14.11%          -
1     2                 Tamil Nadu  1,664,159  1,461,841   8.55%  1,207,526
2     3              Uttar Pradesh  1,542,432  1,376,324   8.05%  1,109,408
3     4                  Karnataka  1,535,224  1,350,257   7.90%  1,136,634
4     5                    Gujarat          -  1,314,680   7.69%          -
5     6                West Bengal  1,177,586    999,585   5.85%    800,913
6     7                  Rajasthan    929,124    835,558   4.89%    679,314
7     8             Andhra Pradesh    933,402    809,547   4.74%    680,332
8     9                  Telangana    865,688    753,811   4.41%    618,544
9    10             Madhya Pradesh    809,327    728,242   4.26%    535,362
10   11                     Kerala          -    700,532   4.10%          -
11   12                      Delhi    779,652    690,098   4.04%    602,708
12   13                    Haryana    707,126    626,054   3.66%    526,055
13   14                      Bihar    557,490    484,740   2.84%    394,350
14   15                     Punjab    521,861    479,141   2.80%    397,711
15   16                     Odisha    485,376    436,374   2.55%    390,574
16   17                      Assam          -    288,494   1.69%          -
17   18               Chhattisgarh    311,660    284,194   1.66%    231,820
18   19                  Jharkhand    307,581    276,243   1.62%    232,821
19   20                Uttarakhand    245,895    222,836   1.30%    193,273
20   21           Himachal Pradesh    153,181    140,613   0.82%    117,868
21   22            Jammu & Kashmir          -    138,488   0.81%          -
22   23                        Goa     77,172     70,493   0.41%     57,028
23   24                    Tripura          -     46,133   0.27%          -
24   25                 Chandigarh          -     38,806   0.23%          -
25   26                 Puducherry     36,656     32,962   0.19%     24,442
26   27                  Meghalaya          -     30,790   0.18%          -
27   28                   Nagaland          -     24,281   0.14%          -
28   29                    Manipur          -     23,968   0.14%          -
29   30                     Sikkim     26,786     23,495   0.14%     17,629
30   31          Arunachal Pradesh          -     22,045   0.13%          -
31   32                    Mizoram          -     19,457   0.11%          -
32   33  Andaman & Nicobar Islands          -      7,871   0.05%          -

### 5. Github_Trending_Repositories

In [3]:
url='https://github.com/'
driver.get(url)

In [4]:
driver.find_element_by_xpath('//nav[@class="mt-0 px-3 px-lg-0 mb-5 mb-lg-0"]/ul/li[4]//summary').click()

In [5]:
driver.find_element_by_xpath('//nav[@class="mt-0 px-3 px-lg-0 mb-5 mb-lg-0"]/ul/li[4]//div/ul[2]/li[3]/a').click()

In [6]:
repo=[]
rdesc=[]
contributors=[]
lang=[]

In [7]:
repo_tags=driver.find_elements_by_xpath('//article[@class="Box-row"]/h1/a/span')

In [8]:
for i in repo_tags:
    repos=i.text
    repo.append(repos)
repo[0:4]

['mdn /', 'sherlock-project /', 'RobinLinus /', 'callstack /']

In [9]:
desc_tags=driver.find_elements_by_xpath('//article[@class="Box-row"]/p')

In [10]:
for i in desc_tags:
    if i.text is None :
        rdesc.append("--") 
    else:
        rdesc.append(i.text)
rdesc[0:4]

['The content behind MDN Web Docs',
 '🔎 Hunt down social media accounts by username across social networks',
 'A Progressive Web App for local file sharing',
 'Material Design for React Native (Android & iOS)']

In [12]:
contrib_tags=driver.find_elements_by_xpath('//div[@class="f6 text-gray mt-2"]/a[2]')

In [13]:
for i in contrib_tags:
    if i.text is None:
        contributors.append('--')
    else:
        contributors.append(i.text)
contributors[0:4]

['118', '1,879', '549', '1,097']

In [14]:
lang_tags=driver.find_elements_by_xpath('//span[@itemprop="programmingLanguage"]')

In [15]:
for i in lang_tags:
    if i.text is None:
        lang.append('--')
    else:
        lang.append(i.text)
lang[0:4]

['HTML', 'Python', 'JavaScript', 'TypeScript']

In [16]:
len(lang)

24

In [17]:
Git_top=pd.DataFrame({})
Git_top['Repository']=repo[0:20]
Git_top['Description']=rdesc[0:20]
Git_top['No of Contributors']=contributors[0:20]
Git_top['Language Used']=lang[0:20]
Git_top

,Repository,Description,No of Contributors,Language Used
0,mdn /,The content behind MDN Web Docs,118,HTML
1,sherlock-project /,🔎 Hunt down social media accounts by username ...,"1,879",Python
2,RobinLinus /,A Progressive Web App for local file sharing,549,JavaScript
3,callstack /,Material Design for React Native (Android & iOS),"1,097",TypeScript
4,aapatre /,Do you want to LEARN NEW STUFF for FREE? Don't...,208,Python
5,willmcgugan /,Rich is a Python library for rich text and bea...,502,Python
6,yamashi /,"Performance boost, bug fixes and hacks for fun...",50,C++
7,tiangolo /,"FastAPI framework, high performance, easy to l...","1,667",Python
8,nrwl /,Extensible Dev Tools for Monorepos,598,TypeScript
9,metersphere /,An open source continuous testing platform. Me...,674,Java
10,danistefanovic /,🤓 Build your own (insert technology here),"7,974",C++
11,stenzek /,Fast PlayStation 1 emulator for PC and Android,76,YARA
12,fireeye /,JumpServer 是全球首款开源的堡垒机，是符合 4A 的专业运维安全审计系统。,109,Python
13,jumpserver /,Request management and media discovery tool fo...,"4,002",TypeScript
14,sct /,The fuzzer afl++ is afl with community patches...,15,C
15,AFLplusplus /,Free R-Tips is a FREE Newsletter provided by B...,248,HTML
16,business-science /,A primitive USB patcher for installing macOS B...,89,Shell
17,barrykn /,Clean Architecture Solution Template for Angul...,77,C#
18,jasontaylordev /,Project Reunion is an evolution of the Windows...,794,C++
19,microsoft /,openpilot is an open source driver assistance ...,54,C++

### 6. Billboard Top 100 Songs

In [30]:
url='https://www.billboard.com/'
driver.get(url)

In [31]:
song=[]
artist=[]
lastweek=[]
peak=[]
weeks=[]

In [32]:
driver.find_element_by_xpath('//div[@class="header__sticky__child"]//div[1]/ul/li[1]').click()

In [33]:
driver.find_element_by_xpath('//div[@class="charts-landing__info charts-landing__info--hot-100"]/div[2]').click()

In [34]:
song_tags=driver.find_elements_by_xpath('//span[@class="chart-element__information"]/span[1]')

for i in song_tags:
    songs=i.text
    song.append(songs)

In [35]:
song[0:4]

['All I Want For Christmas Is You',
 'Mood',
 "Rockin' Around The Christmas Tree",
 'Positions']

In [36]:
artist_tags=driver.find_elements_by_xpath('//span[@class="chart-element__information"]/span[2]')

for i in artist_tags:
    artists=i.text
    artist.append(artists)
artist[0:4]

['Mariah Carey', '24kGoldn Featuring iann dior', 'Brenda Lee', 'Ariana Grande']

In [37]:
lastweek_tags=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')

In [38]:
for i in lastweek_tags:
    lastweeks=i.text
    lastweek.append(lastweeks)
lastweek[0:4]

['2', '1', '4', '3']

In [39]:
peak_tags=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')

for i in peak_tags:
    peaks=i.text
    peak.append(peaks)
peak[0:4]

['1', '1', '2', '1']

In [40]:
week_tags=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')

for i in week_tags:
    week=i.text
    weeks.append(week)
weeks[0:4]

['41', '18', '36', '7']

In [41]:
Billboard_100=pd.DataFrame({})
Billboard_100['Song']=song
Billboard_100['Artist']=artist
Billboard_100['Last Week rank']=lastweek
Billboard_100['Peak Rank']=peak
Billboard_100['Weeks on Board']=weeks
Billboard_100

,Song,Artist,Last Week rank,Peak Rank,Weeks on Board
0,All I Want For Christmas Is You,Mariah Carey,2,1,41
1,Mood,24kGoldn Featuring iann dior,1,1,18
2,Rockin' Around The Christmas Tree,Brenda Lee,4,2,36
3,Positions,Ariana Grande,3,1,7
4,Jingle Bell Rock,Bobby Helms,9,3,33
...,...,...,...,...,...
95,Hallelujah,Carrie Underwood & John Legend,-,96,1
96,Practice,DaBaby,-,86,5
97,Put Your Records On,Ritt Momney,-,79,9
98,Te Mudaste,Bad Bunny,60,60,2
99,Silent Night,Carrie Underwood,-,100,1

### 7. Naukri_DS_ Recruiters

In [55]:
url='https://www.naukri.com/'
driver.get(url)

In [57]:
driver.find_element_by_xpath('//ul[@class="midSec menu"]/li[2]/a').click()

In [68]:
p = driver.current_window_handle
chwd = driver.window_handles

In [71]:
for w in chwd:

    if(w!=p):
        driver.switch_to.window(w)
    break
time.sleep(0.9)
print("Child window title: " + driver.title)

Child window title: HR Manager - HR Executive - HR Recruiter Consultants - Naukri.com

In [72]:
driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys('Data Science')

In [73]:
driver.find_element_by_id('qsbFormBtn').click()

In [74]:
naam=[]
designa=[]
compan=[]
skillshire=[]
locat=[]

In [75]:
naam_tags=driver.find_elements_by_xpath('//div[@class="vcard"]/p/a[1]')

for i in naam_tags:
    naams=i.text
    naam.append(naams)
naam[0:4]

['Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal']

In [76]:
disigna_tags=driver.find_elements_by_xpath('//div[@class="vcard"]/p/span[1]')

for i in disigna_tags:
    design=i.text
    designa.append(design)
designa[0:4]

['HR Manager',
 'Company Recruiter',
 'Recruitment Professional',
 'Company Recruiter']

In [77]:
com_tags=driver.find_elements_by_xpath('//div[@class="vcard"]/p/a[2]')

for i in com_tags:
    compays=i.text
    compan.append(compays)
compan[0:4]

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'XenonStack',
 'Enerlytics Software Solutions Pvt Ltd']

In [78]:
skillshire_tags=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')

for i in skillshire_tags:
    skills=i.text
    skillshire.append(skills)
skillshire[0:4]

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Web Designing, html5, Angular.js, seo, hadoop, Cloud Computing, python, Iphone Development, java, Machine Learning, aws, analytics, linux, puppet',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws']

In [79]:
locat_tags=driver.find_elements_by_xpath('//div[@class="vcard"]/p/span[2]')
for i in locat_tags:
    if i.text is None:
        locat.append('--')
    else:
        locat.append(i.text)
locat[0:4]

['Delhi', 'Hyderabad / Secunderabad', 'Chandigarh', 'Ahmedabad']

In [80]:
len(locat)

48

In [81]:
Naukri_Recruiters_DS=pd.DataFrame({})

Naukri_Recruiters_DS['Name']= naam[0:40]
Naukri_Recruiters_DS['Designation']=designa[0:40]
Naukri_Recruiters_DS['Company Name']=compan[0:40]
Naukri_Recruiters_DS['Skills Hiring for']=skillshire[0:40]
Naukri_Recruiters_DS['Location']=locat[0:40]
Naukri_Recruiters_DS

,Name,Designation,Company Name,Skills Hiring for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Rakhi,Recruitment Consultant,Walkingtext Private Limited,"Ites, Data Science, Cloud, Iot",Bengaluru / Bangalore
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
24,Pooja Seth,IT Technical Recruiter,RAPS iTech,"B.tech, Hr Mba, quality assurance engineering,...",Chandigarh
25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
26,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,Srikanth Bellup,Director,TeachR Robotics Pvt. Ltd,"mechatronics, robotics, Home Automation, iot, ...",Hyderabad / Secunderabad
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Noida
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Hyderabad / Secunderabad
34,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",New Delhi
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore

### 8. Best Selling Books

In [84]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [85]:
bname=[]
aname=[]
vsold=[]
publish=[]
genre=[]

In [86]:
bnames_tags=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')

for i in bnames_tags:
    bnms=i.text
    bname.append(bnms)
bname[0:4]

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix']

In [87]:
anames_tags=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')

for i in anames_tags:
    anms=i.text
    aname.append(anms)
aname[0:4]

['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.']

In [88]:
vsolds_tags=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')

for i in vsolds_tags:
    vsds=i.text
    vsold.append(vsds)
vsold[0:4]

['5,094,805', '4,475,152', '4,200,654', '4,179,479']

In [89]:
publish_tags=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')

for i in publish_tags:
    pubs=i.text
    publish.append(pubs)
publish[0:4]

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury']

In [90]:
genre_tags=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')

for i in genre_tags:
    genres=i.text
    genre.append(genres)
genre[0:4]

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction"]

In [91]:
Best_selling=pd.DataFrame({})
Best_selling['Book Name']=bname
Best_selling['Author Name']=aname
Best_selling['Volume Sold']=vsold
Best_selling['Publisher']=publish
Best_selling['Genre']=genre
Best_selling

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 9. IMBD Top 100

In [3]:
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [4]:
name=[]
year=[]
genre=[]
runtime=[]
ratings=[]
votes=[]

In [5]:
name_tags=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/h3/a')

for i in name_tags:
    names=i.text
    name.append(names)
name[0:4]

['Game of Thrones', 'Stranger Things', 'The Walking Dead', '13 Reasons Why']

In [6]:
year_tags=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/h3/span[2]')

for i in year_tags:
    years=i.text
    year.append(years)
year[0:4]

['(2011–2019)', '(2016– )', '(2010– )', '(2017–2020)']

In [7]:
genre_tags=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[1]/span[5]')

for i in genre_tags:
    genres=i.text
    genre.append(genres)
genre[0:4]

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller']

In [8]:
runtime_tags=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[1]/span[3]')

for i in runtime_tags:
    runtimes=i.text
    runtime.append(runtimes)
runtime[0:4]

['57 min', '51 min', '44 min', '60 min']

In [9]:
rating_tags=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/div[1]/div[1]/span[2]')

for i in rating_tags:
    rates=i.text
    ratings.append(rates)
ratings[0:4]

['9.3', '8.7', '8.2', '7.6']

In [10]:
votes_tags=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]/span[2]')

for i in votes_tags:
    vote=i.text
    votes.append(vote)
votes[0:4]

['1,739,698', '797,959', '842,716', '252,474']

In [11]:
IMDb=pd.DataFrame({})
IMDb['Name']=name
IMDb['Year']=year
IMDb['Genre']=genre
IMDb['Run Time']=runtime
IMDb['Ratings']=ratings
IMDb['Votes']=votes
IMDb

,Name,Year,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,739,698"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"797,959"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"842,716"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"252,474"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"211,819"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"42,931"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,116"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"157,684"
98,Scream: The TV Series,(2015– ),"Crime, Drama, Horror",45 min,7.2,"33,676"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"176,758"

### 10. UCI Repository_ All Datasets

In [13]:
url='https://archive.ics.uci.edu/ml/index.php'
driver.get(url)

In [14]:
driver.find_element_by_xpath('//span[@class="whitetext"][2]/a').click()

In [15]:
dname=[]
dtype=[]
task=[]
atype=[]
inst=[]
atri=[]
year=[]

In [16]:
dname_tags=driver.find_elements_by_xpath('//table[@border="1"]/tbody//td//tr/td[2]//a')

for i in dname_tags:
    dnames=i.text
    dname.append(dnames)
dname[0:4]

['Abalone', 'Adult', 'Annealing', 'Anonymous Microsoft Web Data']

In [17]:
dtyp=[]
dtyp_tags=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[2]/p')

for i in dtyp_tags:
    tg=i.text
    dtyp.append(tg)
dtyp[0:4]

['Data Types', 'Multivariate ', 'Multivariate ', 'Multivariate ']

In [20]:
dtype=dtyp[1:]

In [22]:
tak=[]
tak_tags=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[3]/p')

for i in tak_tags:
    ta=i.text
    tak.append(ta)
task=tak[1:]

In [23]:
typ=[]
typ_tags=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[4]/p')

for i in typ_tags:
    tp=i.text
    typ.append(tp)
atype=typ[1:]

In [25]:
inp=[]
inp_tags=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[5]/p')

for i in inp_tags:
    tp=i.text
    inp.append(tp)
insta=inp[1:]

In [26]:
att=[]
att_tags=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[6]/p')

for i in att_tags:
    at=i.text
    att.append(at)
atri=att[1:]

In [27]:
yrr=[]
yrr_tags=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[7]/p')

for i in yrr_tags:
    yr=i.text
    yrr.append(yr)
year=yrr[1:]

In [28]:
UCI_rep=pd.DataFrame({})
UCI_rep['Name']=dname
UCI_rep['Data Type']=dtype
UCI_rep['Default Task']=task
UCI_rep['Attribute Type']=atype
UCI_rep['Instances']=insta
UCI_rep['Attributes']=atri
UCI_rep['Year']=year
UCI_rep

,Name,Data Type,Default Task,Attribute Type,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,,Regression,Integer,,,2020
555,Guitar Chords finger positions,Text,Classification,,2633,5,2020
556,Russian Corpus of Biographical Texts,Text,Classification,,200,2,2020
557,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020
558,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800,9,2020