In [1]:
#pip install bs4

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### 1. Wikipedia Scraping

In [3]:
header_tags=[]
full_tags=""
def wiki_scrap(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    #print(soup.prettify())
    tags=soup.find_all(id,class_='mp-h2')
    for i in tags:
        full_tages=""
        for j in i.find_all('span',class_='mw-headline'):
            full_tags=" "+(j.get_text().replace('...',''))
        print(full_tags)
    header_tags.append(full_tags)

In [4]:
url="https://en.wikipedia.org/wiki/Main_Page"
wiki_scrap(url)

 From today's featured article
 Did you know
 In the news
 On this day
 Today's featured picture
 Other areas of Wikipedia
 Wikipedia's sister projects
 Wikipedia languages

In [5]:
header_tags

[' Wikipedia languages']

In [6]:
#page=requests.get("https://www.imdb.com/chart/top/?ref_=nv_mv_250")

In [7]:
#page.content

In [8]:
#soup=BeautifulSoup(page.content)

In [9]:
#print(soup.prettify())

name=[]
year=[]
rating=[]
names=soup.find_all('td',class_='titleColumn')

In [10]:
#names

for i in names:
    full_names=""
    for j in i.find_all('a'):
        full_names=j.get_text()
    name.append(full_names)
    print(full_names)

In [11]:
#name[0:4]

years=soup.find_all('span',class_='secondaryInfo')
years

for i in years:
    year.append(i.get_text(strip=True))

In [12]:
#year

ratings=soup.find_all('td',class_='ratingColumn imdbRating')
ratings

for i in ratings:
    full_rat=""
    for j in i.find_all('strong'):
        full_rat=j.get_text()
    rating.append(full_rat)
    print(full_rat)

In [13]:
#print(len(name),len(year),len(rating))

name=name[0:100]
year=year[0:100]
rating=rating[0:100]

In [14]:
#len(name)

import pandas as pd
imdb_100=pd.DataFrame({})
imdb_100['Movie Name']=name
imdb_100['Year of Release']=year
imdb_100['Rating of Movie']=rating

In [15]:
#imdb_100

### 2. IMDb Top 100 Movies

In [16]:
name=[]
year=[]
rating=[]
def IMDb_Top_100(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    names=soup.find_all('td',class_='titleColumn')
    for i in names:
        full_names=""
        for j in i.find_all('a'):
            full_names=j.get_text()
        name.append(full_names)
    years=soup.find_all('span',class_='secondaryInfo')
    for i in years:
        year.append(i.get_text(strip=True))
    ratings=soup.find_all('td',class_='ratingColumn imdbRating')
    for i in ratings:
        full_rat=""
        for j in i.find_all('strong'):
            full_rat=j.get_text()
        rating.append(full_rat)

In [17]:
url="https://www.imdb.com/chart/top/?ref_=nv_mv_250"
IMDb_Top_100(url)

In [18]:
name=name[0:100]
year=year[0:100]
rating=rating[0:100]
imdb_100=pd.DataFrame({})
imdb_100['Movie Name']=name
imdb_100['Year of Release']=year
imdb_100['Rating of Movie']=rating

In [19]:
#imdb_100.to_csv('IMDb_top_100')

In [20]:
imdb_100

                  Movie Name Year of Release Rating of Movie
0   The Shawshank Redemption          (1994)             9.2
1              The Godfather          (1972)             9.1
2     The Godfather: Part II          (1974)             9.0
3            The Dark Knight          (2008)             9.0
4               12 Angry Men          (1957)             8.9
..                       ...             ...             ...
95                    Dangal          (2016)             8.3
96              Citizen Kane          (1941)             8.3
97                      1917          (2019)             8.2
98         Full Metal Jacket          (1987)             8.2
99       Ladri di biciclette          (1948)             8.2

[100 rows x 3 columns]

### 3. IMDb India Top 100 Movies

In [21]:
Name=[]
Year=[]
Rating=[]
def imdb_ind(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    names=soup.find_all('td',class_='titleColumn')
    for i in names:
        full_names=""
        for j in i.find_all('a'):
            full_names=j.get_text()
        Name.append(full_names)
        #print(full_names)
    years=soup.find_all('span',class_='secondaryInfo')
    for i in years:
        Year.append(i.get_text(strip=True))
    ratings=soup.find_all('td',class_='ratingColumn imdbRating')
    for i in ratings:
        full_rat=""
        for j in i.find_all('strong'):
            full_rat=j.get_text()
        Rating.append(full_rat)
        #print(full_rat)

In [22]:
url="https://www.imdb.com/india/top-rated-indian-movies/"
imdb_ind(url)

In [23]:
Name=Name[0:100]
Year=Year[0:100]
Rating=Rating[0:100]

In [24]:
import pandas as pd
imdb_ind=pd.DataFrame({})
imdb_ind['Movie Name']=Name
imdb_ind['Year of Release']=Year
imdb_ind['Rating of Movie']=Rating

In [25]:
#imdb_ind.to_csv('IMDb_India_100')

### 4. Book Review

In [26]:
book=[]
author=[]
genere=[]
review=[]
def book_review(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    books=soup.find_all('h4',class_='italic')
    for i in books:
        full_names=""
        for j in i.find_all('a'):
            full_names=j.get_text().replace('★','')
            full_names=full_names.strip()
        book.append(full_names)
    names=soup.find_all('p',class_='sans bold')
    for i in names:
        author.append(i.get_text(strip=True))
    geners=soup.find_all('p',class_="genre-links hidden-phone")
    for i in geners:
        full_names=""
        for j in i.find_all('a'):
            full_names=j.get_text()
        genere.append(full_names)
    reviews=soup.find_all('p',class_='excerpt')
    for i in reviews:
        review.append(i.get_text(strip=True))

In [27]:
url="https://bookpage.com/reviews?book_genre=mystery_suspense&page=1"
book_review(url)

In [28]:
book=book[0:5]
author=author[0:5]
genere=genere[0:5]
review=review[0:5]

In [29]:
Book_Review=pd.DataFrame({})
Book_Review["Book Name"]=book
Book_Review["Author"]=author
Book_Review["Genere"]=genere
Book_Review["Review"]=review

In [30]:
#Book_Review.to_csv("Book_Review")

### 5. ICC Team Rankings_Men

In [31]:
team=[]
matches=[]
points=[]
rating=[]
extra=[]
point_split=[]
def ICC_ODI_Team(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    teams=soup.find_all("span",class_="u-hide-phablet")
    for i in teams:
        team.append(i.get_text(strip=True))
    match=soup.find_all("td",class_="rankings-block__banner--matches")
    for i in match:
        matches.append(i.get_text())
    point=soup.find_all("td",class_="rankings-block__banner--points")
    for i in point:
        points.append(i.get_text(strip=True))
    ratings=soup.find_all("td",class_="rankings-block__banner--rating u-text-right")
    for i in ratings:
        rating.append(i.get_text(strip=True))
    ratings=soup.find_all("td",class_="table-body__cell u-text-right rating")
    for i in ratings:
        rating.append(i.get_text())
    match=soup.find_all("td",class_="table-body__cell u-center-text")
    for i in match:
        extra.append(i.get_text(strip=True).split("'"))
    point_split=[extra[i] for i in range(len(extra)) if i % 2 != 0]
    points.append(point_split)
    matches_split=[extra[i] for i in range(len(extra)) if i % 2 == 0]
    matches.append(matches_split)

In [32]:
url="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
ICC_ODI_Team(url)

In [33]:
## Raised Ticket

### 5 (ii). ICC Top 10 Batsmen

In [34]:
name1=[]
team1=[]
rating1=[]
def ICC_Batsmen(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    names=soup.find_all("div",class_="rankings-block__banner--name-large")
    for i in names:
        name1.append(i.get_text())
    names=soup.find_all("td",class_="table-body__cell rankings-table__name name")
    for i in names:
        full_names=""
        for j in i.find_all('a'):
            full_names=j.get_text()
        name1.append(full_names)
    teams=soup.find_all("div",class_="rankings-block__banner--nationality")
    for i in teams:
        team1.append(i.get_text(strip=True))
    teams=soup.find_all("span",class_="table-body__logo-text")
    for i in teams:
        team1.append(i.get_text()) 
    ratings=soup.find_all("div",class_="rankings-block__banner--rating")
    for i in ratings:
        rating1.append(i.get_text())
    ratings=soup.find_all("td",class_="table-body__cell rating")
    for i in ratings:
        rating1.append(i.get_text())

In [35]:
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
ICC_Batsmen(url)

In [36]:
name=name1[0:10]
team=team1[0:10]
rating=rating1[0:10]
ICC_batsmen=pd.DataFrame({})
ICC_batsmen["Name"]=name
ICC_batsmen["Team"]=team
ICC_batsmen["Rating"]=rating
#ICC_batsmen.to_csv("ICC_Top_10_Batsmen")

In [37]:
ICC_batsmen

                  Name Team Rating
0          Virat Kohli  IND    871
1         Rohit Sharma  IND    855
2           Babar Azam  PAK    837
3          Ross Taylor   NZ    818
4  Francois du Plessis   SA    790
5      Kane Williamson   NZ    765
6          Aaron Finch  AUS    762
7         David Warner  AUS    759
8      Quinton de Kock   SA    755
9       Jonny Bairstow  ENG    754

### 5 (iii). ICC Top 10 Bowlers

In [38]:
name2=[]
team2=[]
rating2=[]
def ICC_Bowler(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    names=soup.find_all("div",class_="rankings-block__banner--name-large")
    for i in names:
        name2.append(i.get_text())
    names=soup.find_all("td",class_="table-body__cell rankings-table__name name")
    for i in names:
        full_names=""
        for j in i.find_all('a'):
            full_names=j.get_text()
        name2.append(full_names)
    teams=soup.find_all("div",class_="rankings-block__banner--nationality")
    for i in teams:
        team2.append(i.get_text(strip=True))
    teams=soup.find_all("span",class_="table-body__logo-text")
    for i in teams:
        team2.append(i.get_text()) 
    ratings=soup.find_all("div",class_="rankings-block__banner--rating")
    for i in ratings:
        rating2.append(i.get_text())
    ratings=soup.find_all("td",class_="table-body__cell rating")
    for i in ratings:
        rating2.append(i.get_text())

In [39]:
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
ICC_Bowler(url)

In [40]:
name=name2[0:10]
team=team2[0:10]
rating=rating2[0:10]
ICC_bowler=pd.DataFrame({})
ICC_bowler["Name"]=name
ICC_bowler["Team"]=team
ICC_bowler["Rating"]=rating
#ICC_bowler.to_csv("ICC_Top_10_Bowlers")

In [41]:
ICC_bowler

               Name Team Rating
0       Trent Boult   NZ    722
1    Jasprit Bumrah  IND    719
2  Mujeeb Ur Rahman  AFG    701
3      Chris Woakes  ENG    675
4     Kagiso Rabada   SA    665
5       Pat Cummins  AUS    659
6    Josh Hazlewood  AUS    654
7     Mohammad Amir  PAK    647
8        Matt Henry   NZ    641
9      Jofra Archer  ENG    637

### 6. ICC Womens Top 10 Batswomen

In [42]:
name3=[]
team3=[]
rating3=[]
def ICC_Batswomen(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    names=soup.find_all("div",class_="rankings-block__banner--name-large")
    for i in names:
        name3.append(i.get_text())
    names=soup.find_all("td",class_="table-body__cell rankings-table__name name")
    for i in names:
        full_names=""
        for j in i.find_all('a'):
            full_names=j.get_text()
        name3.append(full_names)
    teams=soup.find_all("div",class_="rankings-block__banner--nationality")
    for i in teams:
        team3.append(i.get_text(strip=True))
    teams=soup.find_all("span",class_="table-body__logo-text")
    for i in teams:
        team3.append(i.get_text()) 
    ratings=soup.find_all("div",class_="rankings-block__banner--rating")
    for i in ratings:
        rating3.append(i.get_text())
    ratings=soup.find_all("td",class_="table-body__cell rating")
    for i in ratings:
        rating3.append(i.get_text())

In [43]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
ICC_Batswomen(url)

In [44]:
name=name3[0:10]
team=team3[0:10]
rating=rating3[0:10]
ICC_batswomen=pd.DataFrame({})
ICC_batswomen["Name"]=name
ICC_batswomen["Team"]=team
ICC_batswomen["Rating"]=rating
#ICC_batswomen.to_csv("ICC_Top_10_Batswomen")

In [45]:
ICC_batswomen

                Name Team Rating
0        Meg Lanning  AUS    749
1    Stafanie Taylor   WI    746
2       Alyssa Healy  AUS    741
3    Smriti Mandhana  IND    732
4  Amy Satterthwaite   NZ    723
5     Tammy Beaumont  ENG    716
6       Ellyse Perry  AUS    691
7        Lizelle Lee   SA    690
8    Laura Wolvaardt   SA    689
9        Mithali Raj  IND    687

### 6 (iii). ICC Women Top 10 Bowlers

In [46]:
name3=[]
team3=[]
rating3=[]
def ICC_W_Bowler(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    names=soup.find_all("div",class_="rankings-block__banner--name-large")
    for i in names:
        name3.append(i.get_text())
    names=soup.find_all("td",class_="table-body__cell rankings-table__name name")
    for i in names:
        full_names=""
        for j in i.find_all('a'):
            full_names=j.get_text()
        name3.append(full_names)
    teams=soup.find_all("div",class_="rankings-block__banner--nationality")
    for i in teams:
        team3.append(i.get_text(strip=True))
    teams=soup.find_all("span",class_="table-body__logo-text")
    for i in teams:
        team3.append(i.get_text()) 
    ratings=soup.find_all("div",class_="rankings-block__banner--rating")
    for i in ratings:
        rating3.append(i.get_text())
    ratings=soup.find_all("td",class_="table-body__cell rating")
    for i in ratings:
        rating3.append(i.get_text())

In [47]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling"
ICC_W_Bowler(url)

In [48]:
name=name3[0:10]
team=team3[0:10]
rating=rating3[0:10]
ICC_W_bowler=pd.DataFrame({})
ICC_W_bowler["Name"]=name
ICC_W_bowler["Team"]=team
ICC_W_bowler["Rating"]=rating
#ICC_W_bowler.to_csv("ICC_Top_10_Women_Bowlers")

In [49]:
ICC_W_bowler

             Name Team Rating
0   Jess Jonassen  AUS    804
1  Marizanne Kapp   SA    738
2    Megan Schutt  AUS    735
3  Shabnim Ismail   SA    717
4  Jhulan Goswami  IND    691
5    Poonam Yadav  IND    679
6   Shikha Pandey  IND    675
7    Ellyse Perry  AUS    666
8  Anya Shrubsole  ENG    645
9   Deepti Sharma  IND    639

### 7. Amazon.in, Mobile phones under 20,000 INR

In [55]:
name=[]
price=[]
image=[]
rating=[]
def Amazon(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    names=soup.find_all("span",class_="a-size-medium a-color-base a-text-normal")
    for i in names:
        name.append(i.get_text(strip=True))
    prices=soup.find_all("span",class_="a-price-whole")
    for i in prices:
        price.append(i.get_text(strip=True))
    images=soup.find_all("a",class_="a-link-normal s-no-outline")
    for i in images:
        image.append(i['href'])
    ratings=soup.find_all("span",class_="a-icon-alt")
    for i in ratings:
        rating.append(i.get_text())

In [56]:
url="https://www.amazon.in/s?k=mobile+phone+under+20000&crid=2TXKCYHX9J8DV&sprefix=mobile%2Caps%2C358&ref=nb_sb_noss_1"
Amazon(url)

In [58]:
name=name[0:15]
price=price[0:15]
image=image[0:15]
rating=rating[0:15]

In [59]:
len(name),len(price),len(image),len(rating)

(15, 15, 15, 15)

In [60]:
name

['Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 3 Months No Cost EMI on BFL',
 'Samsung Galaxy M01 (Black, 3GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Panasonic Eluga i7 (2GB RAM, 16GB Storage, Finger Print Sensor, 4000mAh Battery) (Black)',
 'Samsung Galaxy M01 (Blue, 3GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)',
 'Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)',
 'Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Oppo A52 (Twilight Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi 9A (Sea Blue, 2GB Ram, 32GB Storage)',
 'Redmi 9A (Sea Blue, 3GB Ram, 32GB Storage)',
 'Samsung Galaxy M01 Core (Blue, 1GB RAM, 16GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M21 (Raven Black, 4GB RAM, 64GB Storage)',
 'Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64GB Storage)',
 'Samsung Galaxy M01 Core (Black, 1GB RAM, 16GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M01 Core (Blue, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers']

In [61]:
price

['8,999',
 '7,499',
 '5,000',
 '7,499',
 '16,499',
 '6,999',
 '5,999',
 '13,990',
 '6,999',
 '7,499',
 '4,999',
 '13,999',
 '13,999',
 '4,999',
 '5,999']

In [62]:
rating

['4 Stars & Up',
 '3 Stars & Up',
 '2 Stars & Up',
 '1 Star & Up',
 '4.0 out of 5 stars',
 '3.9 out of 5 stars',
 '2.9 out of 5 stars',
 '3.9 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '3.3 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '3.3 out of 5 stars']

In [63]:
image

['/Redmi-Sky-Blue-64GB-Storage/dp/B08697N43N?dchild=1',
 '/Samsung-Galaxy-Storage-Additional-Exchange/dp/B086KCCMCP?dchild=1',
 '/Panasonic-Storage-Finger-4000mAh-Battery/dp/B08BV2T63X?dchild=1',
 '/Samsung-Galaxy-Storage-Additional-Exchange/dp/B086KCDGTQ?dchild=1',
 '/Samsung-Galaxy-Ocean-128GB-Storage/dp/B07HGGYWL6?dchild=1',
 '/Redmi-9A-2GB-32GB-Storage/dp/B08696XB4B?dchild=1',
 '/Samsung-Galaxy-Storage-Additional-Exchange/dp/B089MQ622N?dchild=1',
 '/Oppo-Twilight-Storage-Additional-Exchange/dp/B086KCDPMR?dchild=1',
 '/Redmi-9A-2GB-32GB-Storage/dp/B086978F2L?dchild=1',
 '/Redmi-9A-3GB-32GB-Storage/dp/B086973W9M?dchild=1',
 '/Samsung-Galaxy-Storage-Additional-Exchange/dp/B089MS3GLM?dchild=1',
 '/Samsung-Galaxy-Raven-Black-Storage/dp/B07HGH8D2R?dchild=1',
 '/Samsung-Galaxy-Midnight-Blue-Storage/dp/B07HGJJ559?dchild=1',
 '/Samsung-Galaxy-Storage-Additional-Exchange/dp/B089MTL51J?dchild=1',
 '/Samsung-Galaxy-Storage-Additional-Exchange/dp/B089MV96RW?dchild=1']