In [4]:
import pandas as pd
import selenium
from selenium import webdriver
import time

In [2]:
driver=webdriver.Chrome("D:\Drivers\chrome\chromedriver.exe")

### 1. Naukri- Data Analyst

In [7]:
def Naukri_DA(url):
    driver.get(url)
    driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys("Data Analyst")
    driver.find_element_by_xpath('//input[@id="qsb-location-sugg"]').send_keys("Bangalore")
    driver.find_element_by_xpath('//div[@class="search-btn"]').click()
    time.sleep(10)
    title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
    for i in title_tags:
        titles.append(i.text)
        
    company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
    for i in company_tags:
        companynames=i.text
        company.append(companynames)
        
    exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
    for i in exp_tags:
        exper=i.text
        experience.append(exper)
        
    loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
    for i in loc_tags:
        locations=i.text
        location.append(locations)
    
    print(location)
          
    #Naukri_DA_Scrape=pd.DataFrame({})
    #Naukri_DA_Scrape['Job Title']=titles[0:10]
        #Naukri_DA_Scrape['Company Name']=company[0:10]
        #Naukri_DA_Scrape['Experience Required']=experience[0:10]
       # Naukri_DA_Scrape['Location']=location[0:10]
       # print(Naukri_DA_Scrape)

In [9]:
url="https://www.naukri.com/"
Naukri_DA(url)

['Delhi NCR, Bengaluru, Hyderabad', 'Chennai, Pune, Bengaluru, Hyderabad', 'Bengaluru(Whitefield)', 'Bengaluru', 'Bengaluru', 'Bengaluru, India', 'Bengaluru', 'Bengaluru', 'Bengaluru', 'Chennai, Bengaluru, Hyderabad', 'Pune, Delhi, Mumbai, Bengaluru, Hyderabad', 'Bengaluru', 'Bengaluru', 'Bengaluru', 'Bengaluru', 'Bengaluru', 'Mumbai, Bengaluru, Hyderabad', 'Bengaluru', 'Bengaluru', 'Bengaluru(2nd Phase JP Nagar)']

In [3]:
url="https://www.naukri.com/"

In [4]:
driver.get(url)
driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys("Data Analyst")
driver.find_element_by_xpath('//input[@id="qsb-location-sugg"]').send_keys("Bangalore")
driver.find_element_by_xpath('//div[@class="search-btn"]').click()

In [8]:
titles=[]
location=[]
company=[]
experience=[]

In [16]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [17]:
for i in title_tags:
    title=i.text
    titles.append(title)
titles[0:4]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Immediate opening For Data Scientist/Data Analyst',
 'SAS AML Data Analyst / Trainee & Data Science, Python Trainee',
 'Hiring Data Analysts']

In [18]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [19]:
for i in company_tags:
    companynames=i.text
    company.append(companynames)
company[0:4]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'MagicBase Royal BD Pvt Ltd',
 'Flipkart Internet Private Limited']

In [20]:
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [21]:
for i in exp_tags:
    exper=i.text
    experience.append(exper)
experience[0:4]

['0-2 Yrs', '0-3 Yrs', '0-5 Yrs', '2-5 Yrs']

In [22]:
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [23]:
for i in loc_tags:
    locations=i.text
    location.append(locations)

In [24]:
#driver.close()

In [26]:
Naukri_DA_Scrape=pd.DataFrame({})
Naukri_DA_Scrape['Job Title']=titles[0:10]
Naukri_DA_Scrape['Company Name']=company[0:10]
Naukri_DA_Scrape['Experience Required']=experience[0:10]
Naukri_DA_Scrape['Location']=location[0:10]
Naukri_DA_Scrape

,Job Title,Company Name,Experience Required,Location
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,0-2 Yrs,"Delhi NCR, Bengaluru, Hyderabad"
1,Immediate opening For Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs,"Chennai, Pune, Bengaluru, Hyderabad"
2,"SAS AML Data Analyst / Trainee & Data Science,...",MagicBase Royal BD Pvt Ltd,0-5 Yrs,Bengaluru(Whitefield)
3,Hiring Data Analysts,Flipkart Internet Private Limited,2-5 Yrs,Bengaluru
4,Hiring Data Analysts,Flipkart Internet Private Limited,2-5 Yrs,Bengaluru
5,Data Analyst,Cognizant Technology Solutions India Ltd,3-4 Yrs,Bengaluru
6,Data Analyst,Cognizant Technology Solutions India Ltd,2-3 Yrs,Bengaluru
7,Business Data Analyst,GENPACT India Private Limited,3-6 Yrs,Bengaluru
8,Data Analyst ( Predictive Modelling),AVE-Promagne,2-5 Yrs,Bengaluru
9,Fresher/Trainee/Internship - Data Analyst/Busi...,IIBM Institute of Business Management,0-5 Yrs,"Chennai, Bengaluru, Hyderabad"

In [27]:
#Naukri_DA_Scrape.to_csv("Naukri_1")

### 2. Naukri- Data Scientist

In [30]:
driver=webdriver.Chrome("D:\Drivers\chrome\chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)
driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys("Data Scientist")
driver.find_element_by_xpath('//input[@id="qsb-location-sugg"]').send_keys("Bangalore")
driver.find_element_by_xpath('//div[@class="search-btn"]').click()

In [32]:
titles1=[]
location1=[]
company1=[]
description=[]

In [33]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [34]:
for i in title_tags:
    title=i.text
    titles1.append(title)
titles1[0:4]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Immediate opening For Data Scientist/Data Analyst',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist / Data Analyst']

In [35]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [36]:
for i in company_tags:
    companynames=i.text
    company1.append(companynames)
company1[0:4]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'Wrackle Technologies Pvt Ltd',
 'Altimetrik India Pvt. Ltd']

In [38]:
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [40]:
for i in loc_tags:
    locations=i.text
    location1.append(locations)

In [66]:
desc=driver.find_elements_by_xpath('//div[@class="job-description fs12 grey-text"]')

In [68]:
for i in desc:
    descrip=i.text
    description.append(descrip)

In [69]:
description

['Building and iterating reports (with eventual design collaboration) based around a larg...',
 'In case you are trying to shift your career to Analytics and / or AI domain please do c...',
 'BS / MS/PhD in Computer Science, Statistics, Applied Math, or related areas from Premie...',
 'data analytics, or business intelligence experience Experience with conducting Experien...',
 'Hands-on python programming with experience designing data science products Hands-on ex...',
 'Proficiency in Python or R, Tableu especially on data wrangling, analysis, and modeling...',
 'PhD / Masters / BTech in computer science, computer engineering with 7+ years of demons...',
 'The Technology & Operations Risk (TOR) organization at Morgan Stanley has the following...',
 'medical voice of customer feedback, customer listening, feedback from surveys and resea...',
 'Experience working with enterprise architecture for the complex solutions solving busin...',
 'Preferably expertise Deep Learning, Bayesian Learning Experience of developing advanced...',
 'The main responsibilities are as follows: Research and develop analytical solutions for...',
 'PhD / Masters / BTech in computer science, computer engineering with 10+ years of demon...',
 'The main responsibilities are as follows: Research and develop analytical solutions for...',
 'The ideal candidate is an experienced technology leader with program development experi...',
 'We are looking for an highly skilled, experienced and passionate data-scientist who can...',
 'Candidate should be:The ideal candidate will come with hands-on experience as a Data Sc...',
 'Roles and Responsibilities:* Selecting features, building and optimizing classifiers us...',
 'Candidate must have a strong statistics background, be highly proficient in SQL, R and ...',
 'Good written and verbal communication skillsExperience developing enterprise-class solu...']

In [70]:
Naukri_DS_Scrape=pd.DataFrame({})
Naukri_DS_Scrape['Job Title']=titles1[0:10]
Naukri_DS_Scrape['Company Name']=company1[0:10]
Naukri_DS_Scrape['Description']=description[0:10]
Naukri_DS_Scrape['Location']=location1[0:10]
Naukri_DS_Scrape

,Job Title,Company Name,Description,Location
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,Building and iterating reports (with eventual ...,"Delhi NCR, Bengaluru, Hyderabad"
1,Immediate opening For Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,In case you are trying to shift your career to...,"Chennai, Pune, Bengaluru, Hyderabad"
2,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,"BS / MS/PhD in Computer Science, Statistics, A...",Bengaluru
3,Data Scientist / Data Analyst,Altimetrik India Pvt. Ltd,"data analytics, or business intelligence exper...",Bengaluru
4,Explore job openings on Data Scientist!!,Bristlecone India Limited,Hands-on python programming with experience de...,"Pune, Mumbai, Bengaluru"
5,Senior Principal Software Engineer - IT ( Data...,Dell International Services IndiaPrivate Limited,"Proficiency in Python or R, Tableu especially ...",Bengaluru
6,Senior Data Scientist,Signify,"PhD / Masters / BTech in computer science, com...",Bengaluru
7,Machine Learning Lead / Data Scientist,Morgan Stanley Advantage Services,The Technology & Operations Risk (TOR) organiz...,Bengaluru
8,Global Medical Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,"medical voice of customer feedback, customer l...",Bengaluru
9,Advanced Architect - Data Scientist,Mphasis Limited,Experience working with enterprise architectur...,Bengaluru

In [71]:
#Naukri_DS_Scrape.to_csv("Naukri_2")

### 3. Naukri_3

In [3]:
driver=webdriver.Chrome("D:\Drivers\chrome\chromedriver.exe")
url="https://www.naukri.com/"
driver.get(url)
driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys("Data Scientist")
driver.find_element_by_xpath('//div[@class="search-btn"]').click()

In [8]:
d1=driver.find_elements_by_id('chk-Delhi/NCR-cityType-')

In [9]:
d1

In [10]:
driver.find_element_by_xpath('//div[@class="mt-8 chckBoxCont"][2]').click()

In [12]:
driver.find_element_by_xpath('//div[@class="filterContainer bgWhite br4"][3]/div[2]/div[2]').click()

In [13]:
titles=[]
location=[]
company=[]
experience=[]

In [14]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [16]:
for i in title_tags:
    title=i.text
    titles.append(title)
titles[0:4]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Data Scientist - Python/Machine Learning',
 'Data Scientist',
 'Only Fresher / Data Scientist / Data Analyst / Business Analytics- MNC']

In [17]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [18]:
for i in company_tags:
    companynames=i.text
    company.append(companynames)
company[0:4]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'Jubna',
 'IBM India Pvt. Limited',
 'GABA Consultancy services']

In [19]:
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [20]:
for i in exp_tags:
    exper=i.text
    experience.append(exper)
experience[0:4]

['0-2 Yrs', '5-8 Yrs', '4-8 Yrs', '0-0 Yrs']

In [21]:
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [22]:
for i in loc_tags:
    locations=i.text
    location.append(locations)
location[0:4]

['Delhi NCR, Bengaluru, Hyderabad',
 'Noida',
 'Gurgaon Gurugram',
 'Delhi NCR, Noida, Gurgaon']

In [23]:
Naukri_DA_Fil=pd.DataFrame({})
Naukri_DA_Fil['Job Title']=titles[0:10]
Naukri_DA_Fil['Company Name']=company[0:10]
Naukri_DA_Fil['Experience Required']=experience[0:10]
Naukri_DA_Fil['Location']=location[0:10]
Naukri_DA_Fil

,Job Title,Company Name,Experience Required,Location
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,0-2 Yrs,"Delhi NCR, Bengaluru, Hyderabad"
1,Data Scientist - Python/Machine Learning,Jubna,5-8 Yrs,Noida
2,Data Scientist,IBM India Pvt. Limited,4-8 Yrs,Gurgaon Gurugram
3,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Delhi NCR, Noida, Gurgaon"
4,Data Scientist,PureSoftware Pvt Ltd.,5-9 Yrs,Gurgaon
5,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Delhi NCR, Greater Noida, Noida"
6,Data Scientist,Air Asia India Limited,1-4 Yrs,"Delhi NCR, Gurgaon"
7,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,9-14 Yrs,"Delhi NCR, Noida(Sector-142 Noida)"
8,Excellent opportunity For Lead Data Scientist ...,NEC CORPORATION INDIA PRIVATE LTD,9-14 Yrs,"Delhi NCR(Sector-142 Noida), Noida"
9,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,9-14 Yrs,"Delhi NCR, Noida(Sector-142 Noida)"

### 4. GlassDoor_ DS_Noida

In [3]:
driver=webdriver.Chrome("D:\Drivers\chrome\chromedriver.exe")
url="https://www.glassdoor.co.in/index.htm"
driver.get(url)

In [9]:
driver.find_element_by_xpath('//input[@id="sc.keyword"]').send_keys("Data Scientist")
#driver.find_element_by_xpath('//div[@class="search-btn"]').click()

In [10]:
driver.find_element_by_xpath('//input[@id="sc.location"]').send_keys("Noida")

In [11]:
driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr"]').click()

In [12]:
name=[]
days=[]
rating=[]

In [13]:
name_tags=driver.find_elements_by_xpath('//a[@class=" css-10l5u4p e1n63ojh0 jobLink"]/span')

In [14]:
for i in name_tags:
    names=i.text
    name.append(names)
name[0:4]

['Genpact', 'IHS Markit', 'Techlive', 'Biz2Credit Inc']

In [15]:
days_tags=driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')

In [17]:
for i in days_tags:
    day=i.text
    days.append(day)
days[0:4]

['27d', '2d', '24h', '2d']

In [18]:
rating_tags=driver.find_elements_by_xpath('//span[@class="compactStars "]')

In [19]:
for i in rating_tags:
    ratings=i.text
    rating.append(ratings)
rating[0:4]

['3.8', '4', '5', '3.7']

In [20]:
GlassDoor_DS=pd.DataFrame({})
GlassDoor_DS['Comapny Name']=name[0:10]
GlassDoor_DS['Days_since_Posted']=days[0:10]
GlassDoor_DS['Rating']=rating[0:10]
GlassDoor_DS

           Comapny Name Days_since_Posted Rating
0               Genpact               27d    3.8
1            IHS Markit                2d      4
2              Techlive               24h      5
3        Biz2Credit Inc                2d    3.7
4             Algoscale               21d    3.7
5  Gauge Data Solutions               21d    3.1
6       Priority Vendor               21d      4
7       SearchUrCollege               21d    4.4
8              Axslogic               20d    4.1
9               Ank Aha               21d      4

### 5. GlassDoor-Salary

In [21]:
driver=webdriver.Chrome("D:\Drivers\chrome\chromedriver.exe")
url="https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)

In [23]:
driver.find_element_by_xpath('//input[@name="sc.keyword"]').send_keys("Data Scientist")

In [24]:
driver.find_element_by_xpath('//input[@id="LocationSearch"]').send_keys("Noida")

In [25]:
driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]').click()

In [26]:
company=[]
mini=[]
maxi=[]
avg=[]

In [30]:
comp_tag=driver.find_elements_by_xpath('//div[@class="d-flex"]/div[2]/p[2]')

In [31]:
for i in comp_tag:
    companies=i.text
    company.append(companies)
company[0:4]

['Delhivery', 'Accenture', 'IBM', 'Ericsson-Worldwide']

In [32]:
mini_tag=driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container "]/span[1]')

In [33]:
for i in mini_tag:
    minim=i.text
    mini.append(minim)
mini[0:4]

['₹705K', '₹571K', '₹580K', '₹468K']

In [34]:
maxi_tag=driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container "]/span[2]')

In [35]:
for i in maxi_tag:
    maxim=i.text
    maxi.append(maxim)
maxi[0:4]

['₹11,495K', '₹2,200K', '₹2,700K', '₹1,595K']

In [36]:
avg_tag=driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]/strong')

In [37]:
for i in avg_tag:
    avgs=i.text
    avg.append(avgs)
avg[0:4]

['₹ 12,83,026', '₹ 11,19,272', '₹ 7,52,445', '₹ 8,28,000']

In [38]:
GlassDoor_DS_Sal=pd.DataFrame({})
GlassDoor_DS_Sal['Comapny Name']=company[0:10]
GlassDoor_DS_Sal['Minimum Salary']=mini[0:10]
GlassDoor_DS_Sal['Maximum Salary']=maxi[0:10]
GlassDoor_DS_Sal['Average Salary']=avg[0:10]
GlassDoor_DS_Sal

                     Comapny Name Minimum Salary Maximum Salary Average Salary
0                       Delhivery          ₹705K       ₹11,495K    ₹ 12,83,026
1                       Accenture          ₹571K        ₹2,200K    ₹ 11,19,272
2                             IBM          ₹580K        ₹2,700K     ₹ 7,52,445
3              Ericsson-Worldwide          ₹468K        ₹1,595K     ₹ 8,28,000
4              UnitedHealth Group          ₹708K        ₹1,557K    ₹ 13,21,601
5                Analytics Vidhya           ₹14K           ₹22K       ₹ 20,889
6       Tata Consultancy Services          ₹488K        ₹1,000K     ₹ 6,33,432
7  Cognizant Technology Solutions          ₹784K        ₹1,250K     ₹ 9,96,446
8              Valiance Solutions          ₹496K        ₹1,138K     ₹ 7,71,320
9              Vidooly Media Tech            ₹8K           ₹20K       ₹ 12,669

### 6. Flipkart- SunGlasses

In [3]:
driver=webdriver.Chrome("D:\Drivers\chrome\chromedriver.exe")
url="https://www.flipkart.com/"
driver.get(url)

In [4]:
driver.find_element_by_xpath('//input[@type="text"]').send_keys('sunglasses')

In [5]:
driver.find_element_by_xpath('//button[@class="L0Z3Pu"]').click()

In [6]:
brand=[]
descr=[]
price=[]
disc=[]

In [7]:
brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

In [8]:
for i in brand_tags:
    brands=i.text
    brand.append(brands)
brand[0:4]

['Spexra', 'ROYAL SON', 'FDA COLLECTION', 'JOHAENA']

In [9]:
desc_tags=driver.find_elements_by_xpath('//a[@class="_2B099V"]')

In [10]:
for i in desc_tags:
    descrip=i.text
    desc.append(descrip)
desc[0:4]

['UV Protection Retro Square Sunglasses (88)',
 'Gradient, Mirrored, UV Protection Round, Round, Round S...',
 'Gradient, Mirrored, UV Protection Round, Round, Round S...',
 'Gradient, Mirrored, UV Protection, Polarized Round, Rou...']

In [11]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [12]:
for i in price_tags:
    prices=i.text
    price.append(prices)
price[0:4]

['₹569', '₹664', '₹199', '₹188']

In [13]:
disc_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

In [14]:
for i in disc_tags:
    discounts=i.text
    disc.append(discounts)
disc[0:4]

['71% off', '66% off', '84% off', '87% off']

In [19]:
len(desc)

27

In [20]:
fk_sunglass=pd.DataFrame({})
fk_sunglass['Brand']=brand[0:20]
fk_sunglass['Description']=desc[0:20]
fk_sunglass['Price']=price[0:20]
fk_sunglass['Discount']=disc[0:20]
fk_sunglass

,Brand,Description,Price,Discount
0,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹569,71% off
1,Royal Son,"Gradient, Mirrored, UV Protection Round, Round...",₹664,66% off
2,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹199,84% off
3,FDA COLLECTION,"Gradient, Mirrored, UV Protection, Polarized R...",₹188,87% off
4,FDA COLLECTION,UV Protection Wayfarer Sunglasses (Free Size),₹161,83% off
5,Fastrack,"Riding Glasses, UV Protection Oval Sunglasses ...",₹674,25% off
6,JOHAENA,Others Round Sunglasses (50),₹165,87% off
7,Fossil,UV Protection Rectangular Sunglasses (Free Size),"₹2,070",52% off
8,Rozzetta Craft,UV Protection Round Sunglasses (54),₹398,73% off
9,Winsome,"UV Protection, Mirrored, Night Vision, Riding ...",₹158,84% off
10,shadz,UV Protection Round Sunglasses (Free Size),₹99,85% off
11,NuVew,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹364,60% off
12,shah collections,"UV Protection, Polarized Retro Square Sunglass...",₹312,75% off
13,Fastrack,Polarized Aviator Sunglasses (54),₹559,30% off
14,shadz,"Gradient, UV Protection Aviator Sunglasses (99)",₹189,85% off
15,Specsmakers,"UV Protection, Mirrored, Gradient Retro Square...",₹693,65% off
16,DAHAAZIL,"UV Protection, Mirrored, Gradient Round Sungla...",₹115,76% off
17,I Flash,UV Protection Aviator Sunglasses (58),₹165,86% off
18,ETRG,Mirrored Aviator Sunglasses (58),₹188,76% off
19,STYLISH GUYS,UV Protection Spectacle Sunglasses (Free Size),₹798,77% off